Title : " Python Basics"
@ Author : Shivam Goyal

Date : 9 January, 2022

Version 1

### 1. Installing Python Packages

In [ ]:
# %pip install tqdm

In [ ]:
print("My name is Shivam")

In [ ]:
import math as mt
mt.pi * (3**2)

### 2. Operators in Python

In [ ]:
# Addition and subtraction
print(5 + 5)
print(5 - 5)

# Multiplication and division
print(3 * 5)
print(10 / 2)

# Exponentiation
print(4 ** 2)

# Modulus
print(5%2)

### 3. Variable in Python

#### 1.Variable Types

1. Numerical: int, float

2. Non Numerical : String , Boolean or logical

In [ ]:
## Calculation with variables

x = 5
y="Python"

print(x)
print(x**2)

print(y)

##### 2. Finding the data type

In [ ]:
type(x), type(y)

In [ ]:
# help()

#### 3. Explore operations of data types

In [13]:
a= 3 
b= 4.5
c="Python" 
d= True
e = False

In [ ]:
print(a*b)
# print(a+c)  # Cannot add a string to a int or float
print(c + " " + c)
print(d + e)
# print (c + d) # Invalid

print(c * a) ## Only case where a string and a number give result

#### 4. Data type conversion

In [ ]:
str()
int()
float()

print(type(str(x)))

# {} .format()

a = int(input("this is my var a "))

In [ ]:
a = input("Current Year")

### 4. Lists in Python

As opposed to int, bool etc., a list is a compound data type.

#### Creating a list

In [35]:
a = "2"
b = "nice"
my_list = [True, "list", a, b]
my_list

[True, 'list', '2', 'nice']

In [30]:
my_list.pop()

'nice'

In [14]:
## Create a list using Operators

mix_list=[a*2 , my_list, c*3, d * e]
mix_list

[6, [True, 'list', '2', 'nice'], 'PythonPythonPython', 0]

In [15]:
### List of lists

list_lists = [[1,2,3], mix_list, [True, "Python"], [1, "Hello World"]]
list_lists

[[1, 2, 3],
 [6, [True, 'list', '2', 'nice'], 'PythonPythonPython', 0],
 [True, 'Python'],
 [1, 'Hello World']]

#### Subsetting and Slicing

In [ ]:
my_list[1], my_list[-1] # left side starts with 0 and right with -1

In [ ]:
# slicing[start(inclusive):end(exclusive)]
my_list[:] 

# Select all starting element upto a certain index
my_list[:4]

# Select all elements starting from a certain index
my_list[1:]

# list manuplations with - index
my_list[-3:]
my_list[-3:-1]

In [ ]:
## Prevent overwriting of the same list
my_list_copy = my_list[:]
print (my_list_copy)

In [ ]:
## Replace list elements
x = my_list
print(my_list)
x[1] = "r"
x[2:] = ["s", "t"]
print(x)
print(my_list)

Note: Here changing x also changes my_list. The list contains reference to list elements and not the actual elements.

To create a copy use y = list(x) or y = x[ : ]

In [ ]:
# Extend a list
my_list = my_list + list_lists + [True, False]
print(my_list)

In [ ]:
# Delete list elements
del(x[1])
x

In [ ]:
# Subsetting list of lists

my_list[5][1][0:]

In [ ]:
# Reversing a list
# Syntax: reversed_list = systems[start:stop:step] 
reversed_list = my_list_copy[2::-1]
reversed_list

#### Methods and Objects in Python

String, list , float etc are called objects in python adn have a specific type.

Methods are functions that belong to objects

In Python everything is object and have methods associated with them

### 5. List Methods

append(), replace() , index()

##### String Methods

In [ ]:
## Change to upper case
c.upper()

# Find the get the number of times an element appears in a list
c.count("P")

##### List Methods

In [ ]:
# The list data type has some more methods. Here are all of the methods of list objects:

# list.append(x)
# Add an item to the end of the list. Equivalent to a[len(a):] = [x].

# list.extend(iterable)
# Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

# list.insert(i, x)
# Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

# list.remove(x)
# Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

# list.pop([i])
# Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

# list.clear()
# Remove all items from the list. Equivalent to del a[:].

# list.index(x[, start[, end]])
# Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

# The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

# list.count(x)
# Return the number of times x appears in the list.

# list.sort(*, key=None, reverse=False)
# Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

# list.reverse()
# Reverse the elements of the list in place.

# list.copy()
# Return a shallow copy of the list. Equivalent to a[:]

In [39]:
# add elements to a list
my_list.append("Its Real")
my_list

[True, 'list', '2', 'nice', 'Its Real']

In [ ]:
len(my_list)

In [ ]:
# range([start,]stop[,step])
# Where:

# start: Specifies where to start generating integers for the list.
# stop: Specifies where to stop generating integers for the list.
# step: Specifies the incrementation

for i in range(10,20,2):
    print(i)
    
for i in range(20):
    print(i)

In [ ]:
sum([9,3,2,5,1,-9])

In [21]:
numbers = [4,3,9,10,33,90]
min(numbers)
max(numbers)

90

In [ ]:
sorted(numbers, reverse=True)

In [ ]:
list(reversed(numbers))

In [ ]:
list(enumerate(numbers, 3))

In [ ]:
l1 = [3,4,7] # list with size 3
l2 = [0,1]   # list with size 2(shortest iterable)
list(zip(l1,l2))

In [ ]:
# count the frequency
my_list.count("Python"), my_list.count(True)

In [ ]:
# find the index
my_list.index(True) # return the first appearance index

In [ ]:
#reverses the order of the elements in the list it is called on.
my_list.reverse()
my_list

In [40]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [ ]:
fruits.count('tangerine')

In [42]:
fruits.index('banana')

3

In [ ]:
fruits.index('banana', 4)  # Find next banana starting a position 4

In [ ]:
fruits.reverse()
fruits

In [41]:
fruits.append('grape')
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'grape']

In [43]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [ ]:
fruits.pop()
fruits

In [44]:
len(fruits)

8

In [46]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [11,12,12,14,15,16,17,18,19]


a = list(enumerate(list1,len(list1)))
a

# for x,y in a :
#     print(x,y, x+y)
    
# len(list1)
# range(9)

[(9, 1),
 (10, 2),
 (11, 3),
 (12, 4),
 (13, 5),
 (14, 6),
 (15, 7),
 (16, 8),
 (17, 9)]

In [ ]:
t = zip(list1,list2)

for x,y in t:
#     print((x,y))
    print(x,y, x+y)


# list(zip(list1,list2))

In [ ]:
# Sets in Python
a = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
b =list(set(a))

### 6. Loops in Python

In [47]:
range(10)

range(0, 10)

In [48]:
squares = []

for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list1
# list2 = list1[1:]
# list2

# for i,j in zip(list1,list2):
#     print(i,j)

In [ ]:
lambda x :x**2

In [ ]:
add = lambda x, y : x + y 
print (add(2, 3))

In [ ]:
names = ["john","petter","job","paul","mat"]
list(filter(lambda name: len(name) >=4, names))

In [ ]:
squares = list(map(lambda x: x**2, range(10)))
squares

In [ ]:
# A list comprehension consists of brackets containing an expression followed by a for clause, 
# then zero or more for or if clauses. The result will be a new list resulting 
# from evaluating the expression in the context of the for and if clauses which follow it.

In [ ]:
squares = [x**2 for x in range(10)]
squares

In [50]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
list_a = [1, 2, 3]
list_b = [10, 20, 30]
  
list(map(lambda x, y: x + y, list_a, list_b))

### 7. Assignment for Lists

In [52]:
 vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [ ]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

In [53]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [58]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
freshfruit
[weapon.strip().lower() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [ ]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

In [59]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 8. Dictionaries in Python

In [60]:
#### Create dictionary
my_dict = {
   "key1":"value1",
   "key2":"value2",
}

In [61]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }
europe

{'spain': 'madrid',
 'france': 'paris',
 'germany': 'bonn',
 'norway': 'oslo',
 'italy': 'rome',
 'poland': 'warsaw',
 'australia': 'vienna'}

In [51]:
# Update capital of germany
europe['germany']='berlin'
europe

{'spain': 'madrid',
 'france': 'paris',
 'germany': 'berlin',
 'norway': 'oslo',
 'italy': 'rome',
 'poland': 'warsaw',
 'australia': 'vienna'}

In [ ]:
# Remove australia
del(europe['australia'])

In [45]:
# Dictionary of dictionaries
europe1 = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [46]:
europe1['canada'] = {'capital':'ottawa', 'population': 6.787} 

europe1['canada']['population'] = 2.787

europe1

{'spain': {'capital': 'madrid', 'population': 46.77},
 'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.62},
 'norway': {'capital': 'oslo', 'population': 5.084},
 'canada': {'capital': 'ottawa', 'population': 2.787}}

In [47]:
# del(europe1['capital'])
del(europe1['canada'])
europe1.update({'canada':{'capital': 'Toronto', 'population': 2.787}})
europe1

{'spain': {'capital': 'madrid', 'population': 46.77},
 'france': {'capital': 'paris', 'population': 66.03},
 'germany': {'capital': 'berlin', 'population': 80.62},
 'norway': {'capital': 'oslo', 'population': 5.084},
 'canada': {'capital': 'Toronto', 'population': 2.787}}

In [20]:
europe1['spain']['capital']

'madrid'

In [ ]:
# Print out the capital of France
print(europe1['spain']['capital'])

In [ ]:
# Create sub-dictionary data
data ={'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe1['italy']=data

# Print europe
print(europe1)

In [62]:
europe.keys()

dict_keys(['spain', 'france', 'germany', 'norway', 'italy', 'poland', 'australia'])

In [4]:
europe.values()

dict_values(['madrid', 'paris', 'bonn', 'oslo', 'rome', 'warsaw', 'vienna'])

In [67]:
europe.items()

dict_items([('spain', 'madrid'), ('france', 'paris'), ('germany', 'bonn'), ('norway', 'oslo'), ('italy', 'rome'), ('poland', 'warsaw'), ('australia', 'vienna')])

In [70]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [71]:
res_dict = dict(zip(keys, values))
res_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

#### Functions for Dictionaries

In [ ]:
dict2=dict1.copy()
print(dict2)
 
#clear() method
dict1.clear()
print(dict1)
 
#get() method
print(dict2.get(1))
 
#items() method
print(dict2.items())
 
#keys() method
print(dict2.keys())
 
#pop() method
dict2.pop(4)
print(dict2)
 
#popitem() method
dict2.popitem()
print(dict2)
 
#update() method
dict2.update({3:"Scala"})
print(dict2)
 
# values() method
print(dict2.values())

#### Looping in Dictionaries

In [ ]:
iter_a = iter([])
try:
    print(next(iter_a))
except Exception as e:
    print("Empty Iterator")

In [74]:
# In addition, dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:

{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [78]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print([k, v])

['gallahad', 'the pure']
['robin', 'the brave']

In [82]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [83]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [4]:
### Dictionary to DataFrame

import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }

In [5]:
cars = pd.DataFrame(dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [8]:
# Change the row index of a dataframe
cars.index = ['m1','m2','m3','m4','m5','m6','m7']
cars['cars_per_cap']['m4'] = 100

C:\Users\SHIVAM~1\AppData\Local\Temp/ipykernel_46588/2377321021.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars['cars_per_cap']['m4'] = 100

In [9]:
cars

          country  drives_right  cars_per_cap
m1  United States          True           809
m2      Australia         False           731
m3          Japan         False           588
m4          India         False           100
m5         Russia          True           200
m6        Morocco          True            70
m7          Egypt          True            45

In [12]:
# Access a column as a dataframe
cars[['cars_per_cap']]

    cars_per_cap
m1           809
m2           731
m3           588
m4           100
m5           200
m6            70
m7            45

In [58]:
#### List of customers and account details

names =["Cust1", "Cust2", "Cust3","Cust11", "Cust21", "Cust31","Cust12", "Cust22", "Cust32"]

account_type = ["Savings", "Chequeing", "Savings","Savings", "Chequeing", "Savings","Savings", "Chequeing",'Savings']

balance = [100000, 200000, 300000,100000, 200000, 300000,100000, 200000, 300000]

In [59]:
# Dictionary using the lists
dict1 = {'Customer':names,'Account':account_type, "Balance":balance}

In [60]:
dict1

{'Customer': ['Cust1',
  'Cust2',
  'Cust3',
  'Cust11',
  'Cust21',
  'Cust31',
  'Cust12',
  'Cust22',
  'Cust32'],
 'Account': ['Savings',
  'Chequeing',
  'Savings',
  'Savings',
  'Chequeing',
  'Savings',
  'Savings',
  'Chequeing',
  'Savings'],
 'Balance': [100000,
  200000,
  300000,
  100000,
  200000,
  300000,
  100000,
  200000,
  300000]}

In [61]:
#Import the pandas library to create a dataframe
import pandas as pd


# creating the dataframe

data = pd.DataFrame(dict1)

data

  Customer    Account  Balance
0    Cust1    Savings   100000
1    Cust2  Chequeing   200000
2    Cust3    Savings   300000
3   Cust11    Savings   100000
4   Cust21  Chequeing   200000
5   Cust31    Savings   300000
6   Cust12    Savings   100000
7   Cust22  Chequeing   200000
8   Cust32    Savings   300000

In [ ]:
new_data.groupby('Gender')['Number of Open Complaints'].sum()

In [ ]:
new_data.groupby('Gender')['Number of Open Complaints'].mean()

In [ ]:
new_data.groupby('Gender')['Number of Policies'].mean()

In [ ]:
new_data.groupby('Vehicle Size')['Number of Policies'].mean()

In [ ]:
new_data.groupby('Vehicle Size')['Total Claim Amount'].mean()

In [ ]:
new_data.groupby('Vehicle Class')['Total Claim Amount'].mean()

In [ ]:
cols = ['Gender','Vehicle Class']

new_data.groupby(cols)['Total Claim Amount'].mean()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.scatterplot(data = new_data,x ='Total Claim Amount',y ='Customer Lifetime Value', marker = "+")

In [ ]:
sns.barplot(data = new_data, x = "Vehicle Class", y = "Total Claim Amount")

plt.title(" Vehicle class distribution across Claim amount")
# plt.xlable( 'Total Claim in CAD')
plt.show()

In [ ]:
sns.barplot(data = new_data, x = "Gender", y = "Total Claim Amount")

In [ ]:
sns.barplot(data = new_data, x = "Number of Policies", y = "Total Claim Amount")

In [ ]:
sns.barplot(data = new_data, x = "Gender", y = "Number of Policies")

In [ ]:
plt.hist(new_data['Total Claim Amount'], bins = 50)
plt.show()

In [8]:
Year = [2018,2019,2020,2021,2022]

Sales = [1000,1050,1150, 1200, 1350]

# The difference in sales for year 2019 and 2018 is 50M USD

In [29]:
Diff = []
for j in range(len(Sales)-1):
    a= Sales[j]
    b = Sales[j+1]
    Diff.append(b-a)
Diff

for x,y,z in zip(Year, Year[1:],range(len(Diff))):
    print('The difference in sales for year {} and {} is {}M USD'.format(x,y, Diff[z]))
#     print(x,y,z)

The difference in sales for year 2018 and 2019 is 50M USD
The difference in sales for year 2019 and 2020 is 100M USD
The difference in sales for year 2020 and 2021 is 50M USD
The difference in sales for year 2021 and 2022 is 150M USD

In [10]:
a =dict(zip(Year,Sales))

In [15]:
list(a.keys())

[2018, 2019, 2020, 2021, 2022]